################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Project1/.vs/Project1/v16
/Project2/.vs/Project2/v16/Preview/Browse.VC.opendb
